<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rant App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C167BD4E1C84CB380010A2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C167BD621C84CB380010A2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C167BD6D1C84CB380010A2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
